body {
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
}

/* Slider */
.switch {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 30px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	text-align: center;
	border: 1px solid #4CAF50;
	border-radius: 15px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #4CAF50;
	font-size: 15px;
}

.slider::before {
	position: absolute;
	color: black;
	content: "Fill";
	border-radius: 15px;
	border: 1px solid white;
	height: 20px;
	width: 40px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider::before {
	transform: translateX(48px);
	content: "Draw";
}

input:checked + .slider {
	border-radius: 15px;
	border: 1px solid #2196f3;
	background-color: #2196f3;
}

.grid-container{
	display: grid;
	grid-template-areas:
		'left left left right right right'
		'left left left right right right'
		'left left left right right right';
	grid-gap: 10px;
	padding: 10px;
}

.right {
	font-size: small;
	grid-area: right;
	text-align: center
}

.left {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: right;
	align-items: center;
	grid-area: left;
}